<!-- Edit Scene dialog -->
<div id="divEditSceneTextDialog">

    <!-- Heading div -->
    <div id="divEditSceneTop">
        <div id="divCloseButton" class="longClickable" title="Cancel and Close"></div>
        <label>Text</label>
        <div id="divSaveButton" class="longClickable" title="Save and Close"></div>
    </div>

    <!-- Main Content -->
    <div id="divEditSceneContent">
        <div id="divText">
            <div id="divTextContainer">
                <div id="divActualText" contenteditable="true" spellcheck="false"></div>
            </div>
        </div>
    </div>


    <!-- Bottom div -->
    <div id="divEditSceneBottom">
        <div id="divTextControls">
            <div id="divEditorTop"></div>
            <div id="divEditorBottom"></div>
        </div>
    </div>

</div>

