<!-- Edit storyboard dialog -->
<div id="divDialogEditStoryboardDetails" class="center">

    <h3>Storyboard Details</h3>

    <div id="divEditStoryboardControls">

        <div id="divTitle" class="divLabelInput">
            <div><label>Title</label></div>
            <input id="inputEditStoryboardTitle" type="text">
        </div>

        <div id="divCategory" class="divLabelInput">
            <div><label>Category</label></div>
            <select id="selectEditStoryboardCategory"></select>
        </div>

        <div id="divCheckboxes">
            <input type="checkbox" id="checkboxPrivate"
                class="css-checkbox" checked="checked"/>
            <label for="checkboxPrivate" class="css-label">Private</label>

            <input type="checkbox" id="checkboxAllowComments"
                class="css-checkbox" checked="checked"/>
            <label for="checkboxAllowComments" class="css-label">Allow Comments</label>
        </div>
    </div>

    <div id="divButtons">
        <button id="buttonDialogOk" class="buttonCustom2">Save</button>
        <button id="buttonDialogCancel" class="buttonCustom1">Cancel</button>
    </div>

</div>
