<!-- Add image to canvas -->
<div id="divAddImage" class="center">

    <h3>Add Image</h3>

    <div id="divButtons">
        <button id="buttonFromGallery" class="buttonCustom1">From Gallery</button>
        <button id="buttonFromUrl" class="buttonCustom1">From URL</button>
        <button id="buttonRemoveImage" class="buttonCustom1">Remove Image</button>
        <button id="buttonCancel" class="buttonCustom1">Cancel</button>
    </div>

    <div id="divFromUrl">
        <div id="divFromUrlInput" class="divLabelInput">
            <div><label>URL</label></div>
            <input type="text" id="inputFromUrl" value="http://imgur.com/FR7H560">
        </div>

        <div id="divFromUrlButtons">
            <button id="buttonFromUrlOk" class="buttonCustom1">OK</button>
            <button id="buttonCancel" class="buttonCustom1">Cancel</button>
        </div>
    </div>
</div>
