<!-- Change Password -->
<div id="divChangePasswordDialog" class="center">

    <h3>Change Password</h3>

    <div id="divOldPassword" class="divLabelInput">
        <div><label>Old Password</label></div>
        <input type="password" id="inputChangePasswordOld">
    </div>

    <div id="divNewPassword" class="divLabelInput">
        <div><label>New Password</label></div>
        <input type="password" id="inputChangePasswordNew">
    </div>

    <div id="divConfirmNewPassword" class="divLabelInput">
        <div><label>Confirm New Password</label></div>
        <input type="password" id="inputChangePasswordNewConfirmation">
    </div>

    <div id="divButtons">
        <button id="buttonChangePassword" class="buttonCustom2">Save</button>
        <button id="buttonReturn" class="buttonCustom1">Cancel</button>
    </div>
</div>
