<!-- Storyboard full screen dialog -->
<div id="divDialogStoryboardFullScreen">

    <div id="divTitle">
        <h2 id="divTitle"><%- title %></h2>
        <div id="divCloseButton" class="longClickable" title="Close full screen"></div>
        <hr>
    </div>

    <div id="divContent">

    </div>

    <div id="divBottom">
        <label id="labelUsername"><%- username %></label>

        <div id="divButtons">
            <!-- <div id="divButtonShare" class="longClickable" title="Share this Storyboard"></div>
            <label id="divCommentNumber">1</label>
            <div id="divButtonComment" class="longClickable" title="Show Comments"></div>
            <label id="divStarNumber">2</label>
            <div id="divButtonStar" class="longClickable" title="Star this Storyboard"></div> -->
        </div>


    </div>
</div>
