<!-- Add scene dialog -->
<div id="divDialogAddScene" class="center">

    <h3>Add Scene</h3>

    <div class="divDialogButtons">
        <div id="divButtonTextCanvas" class="longClickable" title="Text / Canvas"></div>
        <div id="divButtonCanvasText" class="longClickable" title="Canvas / Text"></div>
    </div>

    <div class="divDialogButtons">
        <div id="divButtonTextOnly" class="longClickable" title="Text Only"></div>
        <div id="divButtonCanvasOnly" class="longClickable" title="Canvas Only"></div>
    </div>
    <button id="buttonDialogCancel" class="buttonCustom1">Cancel</button>

</div>
