
// Edit Storyboard
#divEditStoryboard {
    height: 100%;
    width: 100%;
    position: relative;

    // Title
    #divStoryboardTitle {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        white-space: nowrap;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        padding-top: 2px;
        color: $colorGrayMedium;
    }

    // Scenes
    #divScenes {
        width: 100%;
        overflow-y: scroll !important;
        text-align: center;
        padding: 0 5px;
    }


}
