<!-- Edit Storyboard -->
<div id="divEditStoryboard" data-storyboard_id="<%- storyboard_id %>">

    <!-- Title -->
    <div id="divStoryboardTitle">
        <label id="labelStoryboardTitle"></label>
    </div>

    <!-- Scenes -->
    <div id="divScenes"></div>

    <!-- Add scene button-->
    <div id="divButtonAddScene" class="divAddItemOverlayButton longClickable" title="Add a new Scene"></div>
    <div id="divButtonEditMode" class="divViewOverlayButton longClickable" title="Edit Mode"></div>
</div>


