<!-- Scene Item -->
<div class="divSceneItem" data-type="<%- sceneType %>" data-index="<%- sceneIndex %>">

    <div class="divSceneContent">
        <div class="divSceneCanvas">
        </div>

        <div class="divSeparator"></div>

        <div class="divSceneText">
            <div class="divActualText"></div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="divSceneOverlay">
        <div class="divDetailsTop">
            <div class="divDetailsTopLabelLeft">
                <label class="labelDetailsTop">Canvas</label>
            </div>
            <div class="divDetailsTopLabelRight">
                <label class="labelDetailsTop">Text</label>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="divDetailsBottom">
            <div class="divSceneDelete longClickable divButton" title="Delete this Scene"></div>
            <div class="divSceneHandleContainer longClickable" title="Drag to rearrange Scenes">
                <div class="divSceneHandle longClickable divButton"
                     title="Drag to rearrange Scenes"></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>

