<!-- Storyboard Item -->
<div class="divStoryboardItem" data-storyboard_id="<%- storyboard_id %>"
    data-storyboard_offline_id="<%- storyboard_offline_id %>">

    <div class="divDetailsTop">
        <div class="divTopRow">
            <div class="divButtonPrivate divButton" title="This Storyboard is Private"></div>
            <label class="labelUsername"><%- username %></label>
            <label class="labelSceneNumber"></label>
            <div class="clearfix"></div>
        </div>

        <div class="divBottomRow">
            <div class="divLabelTitleContainer">
                <label class="labelTitle"><%- title %></label>
            </div>

            <div class="divLabelCategoryContainer">
                <label class="labelCategory"><%- category %></label>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <div class="divInner">

        <div class="divContentArea">
            <div class="divPicture">
            </div>

            <div class="divText">
                <div class="divActualText"></div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="divDetailsBottom">
        <!-- <div class="divCommentStar">
            <label class="divCommentNumber">1</label>
            <div class="divButtonComment divButton longClickable" title="Show Comments"></div>
            <label class="divStarNumber">2</label>
            <div class="divButtonStar divButton longClickable" title="Star this Storyboard"></div>
        </div> -->

        <div class="divBottomButtons">
            <div class="divButtonDelete divButton longClickable" title="Delete this Storyboard"></div>
            <!-- <div class="divButtonShare divButton longClickable" title="Share this Storyboard"></div> -->
            <div class="divButtonEdit divButton longClickable" title="Edit this Storyboard"></div>
        </div>

        <div class="clearfix"></div>
    </div>

</div>
