<div id="divLoginRegisterMain">



    <!-- background image -->
    <div id="divBackgroundImage">
        <img id="imgBackground" src="res/images/background_home.png" />
    </div>

    <div id="divLoginRegisterContent">

        <!-- Title -->
        <div id="divTitle">
            <img src="res/images/title_big.png" height="40" />
        </div>


        <!-- Login -->
        <div id="divInputsContainer">
            <h2 id="h2LoginRegister">Login</h1>
            <hr>

            <div id="divUsername" class="divLabelInput">
                <div><label>Username</label></div>
                <input id="inputUsername" type="text">
            </div>

            <div class="divLabelInput">
                <div><label>Email</label></div>
                <input id="inputEmail" type="email">
            </div>

            <div class="divLabelInput">
                <div><label>Password</label></div>
                <input id="inputPassword" type="password"> 
            </div>

            <div>
                <button id="buttonLoginRegister" class="buttonCustom1">Login</button>
                <div class="clearfix"></div>
            </div>

            <div id="divOtherLinks">
                <a id="buttonGoToOther">Create an Account</a>
                <a id="buttonOfflineMode">Offline Mode</a>
            </div>
        </div>

        <div id="divLoading" class="center">
            <img src="res/loading_hourglass2.svg" height="40" width="40" />
        </div>

    </div>

</div>

