<!-- Div Main (code is in view_app.js) -->
<div id="divMainContainer">

    <div id="divContentContainer">
        <div id="divTitleBar">
            <img src="res/images/title_a.png" height="15" />
            <label id="labelPageTitle" class="highlightColor"></label>
        </div>

        <div id="divMainContent">

        </div>
    </div>

    <div id="divNavBarContainer">
        <div id="divNavBarMain" class="divNavBar" style="display: none">
            <div id="divButtonCamera" class="longClickable" title="Take a Photo"></div>
            <div id="divButtonSearch" class="longClickable" title="Public Search"></div>
            <div id="divButtonAccount" class="longClickable" title="My Account"></div>
            <div id="divButtonHelp" class="longClickable" title="Help"></div>
            <div id="divButtonBack" class="longClickable" title="Back to previous screen"></div>
        </div>

        <div id="divNavBarAccount" class="divNavBar" style="display: none">
            <div id="divButtonCamera" class="longClickable" title="Take a Photo"></div>
            <div id="divButtonStoryboards" class="longClickable" title="My Storyboards"></div>
            <div id="divButtonGallery" class="longClickable" title="My Gallery"></div>
            <!-- <div id="divButtonSocial" class="longClickable" title="Social"></div>-->
            <div id="divButtonSettings" class="longClickable" title="Account Settings"></div>
            <div id="divButtonBack" class="longClickable" title="Back to previous screen"></div>
        </div>

        <div id="divNavBarEditStoryboard" class="divNavBar" style="display: none">
            <div id="divButtonCamera" class="longClickable" title="Take a Photo"></div>
            <div id="divButtonEdit" class="longClickable" title="Edit Storyboard Details"></div>
            <div id="divButtonExpand" class="longClickable" title="View Full Screen"></div>
            <div id="divButtonBack" class="longClickable" title="Back to previous screen"></div>
        </div>
    </div>


    <!-- Dialog div-->
    <div id="divDialogContainer">
        <div id="divDialogContainerInner"></div>
    </div>



    <!-- Edit Scene div-->
    <div id="divEditSceneContainer"></div>

</div>
