<!-- Search page -->
<div id="divSearchMain">

    <!-- Search results -->
    <div id="divStoryboards">
        
    </div>


    <!-- Loading -->
    <div id="divLoading" class="center">
        <img class="center" src="res/loading_hourglass2.svg" height=40 width=40  />
    </div>


    <!-- No results message -->
    <div id="divNoStoryboards" class="center">
        No Results
    </div>


    <!-- No results message -->
    <div id="divOfflineMode" class="center">
        Search not available in offline mode
    </div>




    <div id="buttonSearchStoryboard" class="divSearchOverlayButton longClickable"
         title="Show Search Dialog"></div>
</div>
