<!-- Content -->
<div id="divSettingsMain">

    <!-- Content -->
    <div id="divSettingsContent">

        <h3>Change Account Details</h3>


        <div id="divFullName" class="divLabelInput">
            <div><label>Full Name</label></div>
            <input type="text" id="inputAccountSettingsFullName">
        </div>

        <div id="divUsername" class="divLabelInput">
            <div><label>Username</label></div>
            <input type="text" id="inputAccountSettingsUsername">
        </div>

        <div id="divEmail" class="divLabelInput">
            <div><label>Email</label></div>
            <input type="email" id="inputAccountSettingsEmail">
        </div>

        <div id="divWebsite" class="divLabelInput">
            <div><label>Website</label></div>
            <input type="text" id="inputAccountSettingsWebsite">
        </div>

        <div id="divLocation" class="divLabelInput">
            <div><label>Location</label></div>
            <input type="text" id="inputAccountSettingsLocation">
        </div>

        <div id="divSummary" class="divLabelInput">
            <div><label>Summary</label></div>
            <input type="text" id="inputAccountSettingsSummary">
        </div>

        <div id="divPassword" class="divLabelInput">
            <div><label>Password</label></div>
            <div id="divPasswordLink"><a id="aChangePassword">Change Password</a></div>
        </div>



        <div id="divSettingsButtons">
            <div>
                <button id="buttonSettingsSave" class="buttonCustom2">Save Changes</button>
                <button id="buttonSettingsLogout" class="buttonCustom1">Logout</button>
            </div>
            <div>
                <button id="buttonSettingsDisable" class="buttonCustom1">Disable Account</button>
                <button id="buttonSettingsEnable" class="buttonCustom1">Enable Account</button>
                <button id="buttonSettingsDelete" class="buttonCustom3">Delete Account</button>
            </div>
        </div>

    </div>

    <!-- Loading -->
    <div id="divLoading" class="center">
        <img src="res/loading_hourglass2.svg" height="40" width="40" />
    </div>


    <!-- No results message -->
    <div id="divOfflineMode" class="center">
        Account Settings not available in offline mode
    </div>
</div>
