<div id="divStoryboardsMain">

    <!-- Storyboards -->
    <div id="divStoryboards">

    </div>

    <!-- Loading -->
    <div id="divLoading" class="center">
        <img src="res/loading_hourglass2.svg" height="40" width="40" />
    </div>

    <!-- No storyboards message -->
    <div id="divNoStoryboards">
        <p>You have no Storyboards !</p>
        <p>Click <b>the add button</b> to add one</p>
    </div>


    <div id="buttonCreateStoryboard" class="divAddItemOverlayButton longClickable" title="Add a new Storyboard"></div>
</div>
